@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or within a <style> tag in your component */

@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .shimmer {
    background: linear-gradient(
      to right,
      #1c1c1c 0%,
      #2c2c2c 20%,
      #1c1c1c 40%,
      #1c1c1c 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  